body {
	font-family: Ubuntu;
	color: white;
	text-align: center;
}

#canvas {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	width: 90%;
	height: 90%;
	z-index: 1;
}

#text {
	position: fixed;
	width: 100%;
	top: 75%;
}

#time {
	font-weight: 100;
	font-size: 100px;
}

#rgb {
	font-weight: 100;
	font-size: 20px;
}

span {
	opacity: 0.3;
}